$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway",sans-serif;

.margin-30{
    margin-top: 30px;
}
.costumer-button{
    margin-bottom:20px;
}
.add-costumer{
    margin-bottom:20px;
}